backports.csv==1.0.7
certifi==2019.9.11
chardet==3.0.4
Deprecated==1.2.4
entrypoints==0.3
future==0.18.2
idna==2.8
keyring==12.0.2
requests==2.22.0
six==1.13.0
synapseclient==1.9.4
urllib3==1.25.7
wrapt==1.11.2
